* {
    
}

section.choose > fieldset > ul > li > input {
    margin-right: 1rem;
}


ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    row-gap: 1.0rem;
}

fieldset {
    border-radius: 6px;
    margin-top: 1rem;
}