section.multiple-select > fieldset {
    display: grid;
    justify-items: start;
    row-gap: 1.5rem;
}
section.multiple-select > fieldset > div{
    display: flex;
    column-gap: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    row-gap: 1.0rem;
}

fieldset {
    border-radius: 6px;
    margin-top: 1rem;
}